{% extends 'base.html' %}

{% block title %}
Create A Pantry
{% endblock title %}

{% block content %}
    <h1>Create A Pantry</h1>
    {% if user.is_authenticated %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Create</button>
    </form>
    {% endif %}
{% endblock content %}
