{% extends 'base.html' %}

{% block title %}
Edit Pantry
{% endblock title %}

{% block content %}
    <h1>Edit {{ post_object.name }}</h1>
    <form method="post">
        {% csrf_token %}
        {{ post_form.as_p }}
        <button>Save</button>
    </form>
{% endblock content %}
