{% extends 'base.html' %}

<!--I want to make "Pantry" the name of the pantry that was clicked on-->
{% block title %}
Your Pantry's ingredients
{% endblock title %}

{% block content %}
    {% if user.is_authenticated %}
    <h1>Your Pantry's Ingredients</h1>
    {% if user.is_authenticated %}
        <a href="{% url 'create_ingredient' %}">Create an Ingredient</a>
    {% endif %}
    <br><br><br>
    <div>
        <table>
            <thead>
                <tr>
                    <td>Edit</td>
                    <td>Name</td>
                    <td>Quantity</td>
                    <td>Measurement</td>
                    <td>Expiration Date</td>
                </tr>
            </thead>
            <tbody>
                {% for item in ingredient_list %}
                <tr>
                    <td><a href="{% url 'edit_ingredient' item.id %}">Edit</a></td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.measurement }}</td>
                    <td>{{ item.expiration_date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
{% endblock content %}
