{% extends 'base.html' %}

{% block title %}
Your Pantries
{% endblock title %}

{% block content %}
    {% if user.is_authenticated %}
    <h1>Your Pantry List</h1>
        <a href="{% url 'create_pantry' %}">Create A Pantry</a>
    <br><br><br>
    <div>
        <table>
            <thead>
                <tr>
                    <td><b>Edit</b></td>
                    <td><b>Name</b></td>
                    <td><b>Created On</b></td>
                    <td><b>Description</b></td>
                </tr>
            </thead>
            <tbody>
                {% for item in pantry_list %}
                <tr>
                    <td><a href="{% url 'edit_pantry' item.id %}">Edit Pantry</a></td>
                    <td><a href="{% url 'pantryingredients' %}">{{ item.name }}</td>
                    <td>{{ item.created_on|date:'m/d/y' }}</td>
                    <td>{{ item.description }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
{% endblock content %}
