{% extends "base.html" %}

{% block title %}
CSRF Verification Failed
{% endblock title %}

{% block content %}
    <p>CSRF verification failed. Request aborted.</p>
    <p>Reason given for failure:</p>
    <p>{{ reason }}</p>
{% endblock content %}
