{% extends 'base.html' %}

{% block title %}
Sign In
{% endblock title %}

{% block content %}
<header>
    <nav>
    </nav>
</header>
<main>
    <h1>Sign In</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Sign In</button>
    </form>
</main>
{% endblock content %}
