{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%}{% endblock title %}</title>
    <nav>
        {% if user.is_authenticated %}
            <a href="{% url 'pantrylist' %}">Your Pantry List</a>
            <a href="{% url 'accounts:logout' %}">Sign Out</a>
        {% else %}
            <a href="{% url 'accounts:signup' %}">Sign Up</a>
            <a href="{% url 'accounts:login' %}">Sign In</a>
        {% endif %}
    </nav>
</head>
<body>
    {% block content %}{% endblock content %}
    <footer>
        Copyright 2023
    </footer>
</body>
</html>
